@font-face {
  font-family: 'Avenir';
  src: local('Avenir Book'), local('Avenir-Book'),
  url('../fonts/Avenir-Book.woff2') format('woff2'),
  url('../fonts/Avenir-Book.woff') format('woff'),
  url('../fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pier Sans Black';
  font-style: normal;
  font-weight: normal;
  src: local('Pier Sans Black'), url('../fonts/PierSansBlack.woff') format('woff');
}

html,
body {
  font-family: 'Avenir';
  font-weight: 400;
  font-size: 14px;
}


