@font-face {
  font-family: 'Avenir';
  src: local("Avenir Book"), local("Avenir-Book"), url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Pier Sans Black';
  font-style: normal;
  font-weight: normal;
  src: local("Pier Sans Black"), url("../fonts/PierSansBlack.woff") format("woff"); }

html,
body {
  font-family: 'Avenir';
  font-weight: 400;
  font-size: 14px; }

* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

section.wrapper {
  max-width: 1920px;
  margin: 0 auto; }
  @media screen and (max-width: 1920px) {
    section.wrapper {
      max-width: 1920px; } }

.container {
  flex: 1 0 auto;
  z-index: 10; }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; } }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 130;
  height: auto;
  padding: 0 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .header-sticky {
    background: rgba(0, 0, 0, 0.5); }
  .header-top__logo a:after {
    display: none; }
  .header ul {
    display: flex;
    align-items: center; }
  .header a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    position: relative; }
    .header a:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 20%;
      margin: 0 auto;
      background: transparent;
      transition: all ease 0.3s; }
    .header a:hover:after {
      background: #fff;
      width: 100%; }
  .header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-top__nav {
    margin: 0 15px; }
    .header-top__nav li {
      margin: 0 30px; }
      .header-top__nav li:first-child {
        margin-left: 0; }
      .header-top__nav li:last-child {
        margin-right: 0; }
  .header-top__social {
    margin-left: 20px; }
    .header-top__social li {
      margin: 0 10px; }
      .header-top__social li:first-child {
        margin-left: 0; }
      .header-top__social li:last-child {
        margin-right: 0; }
    .header-top__social a {
      display: flex;
      align-items: center; }
      .header-top__social a:after {
        display: none; }
    .header-top__social .icon {
      fill: #fff; }
  .header-mobile {
    display: none;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    width: 300px;
    position: absolute;
    top: 100%; }
    .header-mobile.open {
      display: block; }
  .header-mobile__nav ul {
    flex-direction: column;
    align-items: flex-start;
    text-align: left; }
  .header-mobile__nav li {
    margin: 0 0 10px 0; }
  .header-mobile__social {
    margin-left: 20px;
    flex-direction: row; }
    .header-mobile__social li {
      margin: 0 10px; }
      .header-mobile__social li:first-child {
        margin-left: 0; }
      .header-mobile__social li:last-child {
        margin-right: 0; }
    .header-mobile__social a {
      display: flex;
      align-items: center; }
      .header-mobile__social a:after {
        display: none; }
    .header-mobile__social .icon {
      fill: #fff; }

.btn-nav {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 30px;
  outline: none;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer; }
  .btn-nav:before, .btn-nav:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all ease 300ms; }
  .btn-nav:before {
    top: 0; }
  .btn-nav:after {
    top: calc(100% - 2px); }
  .btn-nav span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background: #fff;
    transition: all ease 500ms; }
    .btn-nav span:before, .btn-nav span:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      top: 50%;
      left: 0;
      right: 0;
      margin: -1px auto 0;
      transition: all ease 300ms; }
  .btn-nav.open:before, .btn-nav.open:after {
    top: 50%;
    width: 0;
    opacity: 0; }
  .btn-nav.open span {
    background: transparent; }
    .btn-nav.open span:before {
      transform: rotate(-45deg); }
    .btn-nav.open span:after {
      transform: rotate(45deg); }

.footer {
  background: #0376C3; }
  .footer ul {
    display: flex;
    align-items: center; }
  .footer-top {
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .footer-top .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .footer-top__nav li {
    margin: 0 30px; }
    .footer-top__nav li:first-child {
      margin-left: 0; }
    .footer-top__nav li:last-child {
      margin-right: 0; }
  .footer-top__nav a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    position: relative; }
    .footer-top__nav a:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 20%;
      margin: 0 auto;
      background: transparent;
      transition: all ease 0.3s; }
    .footer-top__nav a:hover:after {
      background: #fff;
      width: 100%; }
  .footer-top__social {
    margin-left: 20px; }
    .footer-top__social li {
      margin: 0 10px; }
      .footer-top__social li:first-child {
        margin-left: 0; }
      .footer-top__social li:last-child {
        margin-right: 0; }
    .footer-top__social a {
      display: flex;
      align-items: center; }
    .footer-top__social .icon {
      fill: #fff; }

.footer-bottom {
  font-size: 12px;
  padding: 30px 0;
  color: #fff; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: currentColor; }

ul {
  list-style: none; }

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  pointer-events: none; }

a {
  display: inline-block;
  text-decoration: none;
  transition: all ease 0.3s; }

img, .slick-slide {
  outline: none !important; }
  img:focus, img:active, .slick-slide:focus, .slick-slide:active {
    outline: none !important; }

a {
  display: inline-block; }
  a i {
    cursor: pointer; }

button {
  cursor: pointer;
  outline: none; }
  button:focus, button:active {
    outline: none !important; }

.btn {
  display: block;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 32px;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase; }

.btn-blue {
  color: #fff;
  background: #0376C4;
  border-color: #0376C4; }
  .btn-blue:hover, .btn-blue.active, .btn-blue:active {
    color: #0376C4;
    background: transparent; }

.label {
  display: block;
  margin-bottom: 20px;
  border-bottom: 1px solid #1F1F1F;
  padding-bottom: 20px; }

.input, .select, .textarea {
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  background: transparent;
  outline: none;
  border: 0;
  width: 100%;
  color: #1F1F1F; }

.title-section {
  display: flex;
  flex-wrap: wrap; }
  .title-section.center {
    text-align: center; }
    .title-section.center .title-section__title {
      width: 100%; }
  .title-section.left {
    text-align: left; }
    .title-section.left .title-section__title {
      width: 100%; }
  .title-section.title-image {
    width: 50%; }
    .title-section.title-image .title-section__title {
      width: 100%;
      margin-bottom: 25px; }
    .title-section.title-image .title-section__subtitle {
      width: 100%;
      margin-bottom: 25px; }
    .title-section.title-image .title-section__text {
      width: 100%; }
  .title-section__title {
    width: 50%;
    font-weight: 900; }
    .title-section__title h2 {
      font-size: 70px;
      line-height: 84px;
      color: #0376C4;
      font-family: 'Pier Sans Black';
      margin-bottom: 20px;
      display: inline-block; }
  .title-section__subtitle {
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #0376C4;
    display: block;
    font-family: 'Pier Sans Black'; }
  .title-section__text {
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: rgba(31, 31, 31, 0.9); }
    .title-section__text p {
      margin-bottom: 20px; }

.title-section__image {
  width: 50%;
  padding-left: 100px; }

.pattern-left, .pattern-right {
  position: absolute;
  background: url("../images/pattern.png") repeat;
  height: 115px; }

.element-circle-right, .element-circle {
  position: absolute;
  top: 100px;
  border-radius: 50%;
  background: #EDF5FB; }

.element-circle {
  left: 0;
  width: 1324px;
  height: 1324px; }

.element-circle-right {
  width: 789px;
  height: 789px; }

.top-btn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0376C4;
  border: 1px solid #fff; }
  .top-btn.visible {
    display: block; }
  .top-btn .icon {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all ease 300ms;
  text-align: center; }
  .popup.active {
    top: 0;
    opacity: 1;
    z-index: 999;
    visibility: visible; }
    .popup.active .popup-overlay {
      z-index: 1;
      opacity: 1;
      visibility: visible; }
  .popup-centered {
    position: relative;
    width: 400px;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    z-index: 999;
    height: auto;
    overflow: auto; }
    .popup-centered.overflow-auto {
      overflow: auto;
      height: 100vh;
      margin: 10px auto;
      border-radius: 0; }
  .popup-subtitle {
    font-size: 16px;
    line-height: 23px;
    color: #333637;
    margin-bottom: 25px;
    font-family: 'Pier Sans Black'; }
  .popup-title {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Pier Sans Black';
    line-height: 28px;
    color: #0376C4;
    margin-bottom: 25px; }
  .popup-close {
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: 0;
    outline: none;
    top: 5px;
    right: 15px;
    width: 16px;
    height: 16px; }
    .popup-close:before, .popup-close:after {
      position: absolute;
      content: '';
      width: 100%;
      top: 50%;
      left: 0;
      height: 2px;
      background: #333637; }
    .popup-close:before {
      transform: rotate(45deg); }
    .popup-close:after {
      transform: rotate(-45deg); }
    .popup-close:hover:before, .popup-close:hover:after {
      background: #0376C4; }
  .popup .btn-blue {
    margin: 0 auto; }

.popup-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.6);
  opacity: 0;
  visibility: hidden; }

.main-wrapper {
  position: relative;
  height: auto; }
  .main-wrapper .main-form {
    position: absolute;
    right: 15vw;
    top: 50%;
    margin-top: -220px;
    background: rgba(255, 255, 255, 0.5); }
  .main-wrapper .container {
    max-width: 1210px; }

.main-slider .slide {
  position: inherit;
  display: flex;
  align-items: center; }

.main-slider__media {
  z-index: 1;
  position: relative; }

.main-slider__description {
  position: absolute;
  z-index: 2;
  left: 15vw;
  width: 55%;
  max-width: 650px; }

.main-slider__description-title {
  color: #fff;
  font-weight: 900;
  font-size: 90px;
  line-height: 108px; }

.main-slider__description-text {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 30px; }

.main-form {
  backdrop-filter: blur(12px);
  border-radius: 15px;
  max-width: 400px;
  text-align: center;
  padding: 40px 50px; }

.main-form__title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: 30px; }

.main-form__text {
  margin-top: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-align: left;
  color: rgba(51, 54, 55, 0.63); }
  .main-form__text a {
    font-size: inherit;
    color: inherit; }
    .main-form__text a:hover {
      color: #0376C4;
      text-decoration: underline; }

.main-count__wrap {
  position: absolute;
  left: 15vw;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 400px; }

.main-count__item {
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px; }

.main-counter__item-description {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px; }

.main-slider__pagination {
  position: absolute;
  top: 110px;
  left: 15vw;
  display: flex;
  color: #fff; }

.main-slider__pagination-active {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px; }

.main-slider__pagination-all {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  padding-left: 15px; }
  .main-slider__pagination-all:before {
    position: absolute;
    content: '/';
    top: 0;
    left: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px; }

.features-wrapper {
  padding: 100px 0;
  position: relative; }
  .features-wrapper .pattern-left {
    width: 45px;
    left: 35px;
    top: 100px; }
  .features-wrapper .pattern-right {
    width: 129px;
    right: 35px;
    bottom: 300px; }

.features-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .features-wrap__media {
    width: 50%;
    max-width: 545px;
    position: relative; }
  .features-wrap__marker {
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border-radius: 100%;
    background: #fff;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0; }
    .features-wrap__marker:nth-of-type(1) {
      top: 110px;
      left: 250px; }
    .features-wrap__marker:nth-of-type(2) {
      top: 260px;
      left: 260px; }
    .features-wrap__marker:nth-of-type(3) {
      top: 430px;
      left: 430px; }
    .features-wrap__marker .icon {
      fill: #0376C3; }
    .features-wrap__marker:hover, .features-wrap__marker.active {
      background: #0376C4; }
      .features-wrap__marker:hover .icon, .features-wrap__marker.active .icon {
        fill: #fff; }
  .features-wrap__description {
    width: 50%;
    max-width: 397px;
    min-height: 400px;
    background: #EDF5FB;
    border-radius: 10px;
    padding: 20px;
    text-align: center; }
  .features-wrap__item {
    display: none; }
    .features-wrap__item.active {
      display: block; }
  .features-wrap__item-media {
    width: 100%;
    height: 180px;
    margin-bottom: 20px; }
    .features-wrap__item-media img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .features-wrap__item-title {
    width: 80%;
    margin: 0 auto 20px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(3, 118, 196, 0.9); }
  .features-wrap__item-info {
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000; }

.applications-wrapper {
  position: relative;
  padding: 100px 0; }
  .applications-wrapper .title-section {
    margin-bottom: 50px; }
  .applications-wrapper:after {
    position: absolute;
    content: '';
    width: calc(100% - 100px);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(3, 118, 196, 0.07);
    border-radius: 10px; }

.applications-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }
  .applications-wrap__item {
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center; }
  .applications-wrap__media {
    min-height: 76px;
    margin-bottom: 30px; }
    .applications-wrap__media img {
      display: block;
      margin: 0 auto; }
  .applications-wrap__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0376C3;
    margin-bottom: 25px;
    min-height: 40px; }
  .applications-wrap__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: #333637; }

.references-wrapper {
  padding: 100px 0; }
  .references-wrapper .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
  .references-wrapper .title-section__image img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.references-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  .references-wrap__item {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: rgba(31, 31, 31, 0.9);
    width: 33.33333%;
    padding: 0 15px 0 25px; }
    .references-wrap__item:before {
      position: absolute;
      content: '';
      left: 0;
      top: 10px;
      width: 10px;
      height: 2px;
      background: #0376C4; }

.product-wrapper {
  padding: 100px 0 70px;
  position: relative; }
  .product-wrapper .title-section {
    margin-bottom: 50px; }
  .product-wrapper .element-circle {
    left: -40%; }
  .product-wrapper .pattern-right {
    width: 129px;
    height: 115px;
    right: 35px;
    top: 100px; }

.product-wrap__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px; }
  .product-wrap__item:nth-of-type(2n+1) {
    flex-direction: row; }
    .product-wrap__item:nth-of-type(2n+1) .product-wrap__item-media:before {
      left: calc(60% - -14px);
      top: 57px;
      width: 40%; }
    .product-wrap__item:nth-of-type(2n+1) .product-wrap__item-media:after {
      left: 60%;
      top: 50px; }
    .product-wrap__item:nth-of-type(2n+1) .product-wrap__item-info {
      padding-top: 35px;
      padding-left: 15px; }
  .product-wrap__item:nth-of-type(2n) {
    flex-direction: row-reverse; }
    .product-wrap__item:nth-of-type(2n) .product-wrap__item-media:before {
      left: -271px;
      top: 200px;
      z-index: 2; }
    .product-wrap__item:nth-of-type(2n) .product-wrap__item-media:after {
      left: 18%;
      top: 40%; }
    .product-wrap__item:nth-of-type(2n) .product-wrap__item-info {
      padding-top: 180px;
      padding-left: 15px; }
    .product-wrap__item:nth-of-type(2n) .product-wrap__item-title {
      position: relative;
      display: inline-block; }
      .product-wrap__item:nth-of-type(2n) .product-wrap__item-title:after {
        position: absolute;
        content: '';
        left: 101%;
        top: 20px;
        width: 100%;
        height: 1px;
        background: #333637;
        z-index: -1; }

.product-wrap__item-media {
  width: 50%;
  position: relative; }
  .product-wrap__item-media:before, .product-wrap__item-media:after {
    position: absolute;
    content: ''; }
  .product-wrap__item-media:before {
    width: 67%;
    height: 1px;
    background: #333637;
    z-index: -1; }
  .product-wrap__item-media:after {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #333637; }

.product-wrap__item-info {
  width: 50%;
  z-index: 2; }

.product-wrap__item-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  text-transform: lowercase;
  color: #0376C3;
  margin-bottom: 40px; }

.product-wrap__item-list {
  margin-bottom: 30px; }
  .product-wrap__item-list li {
    text-transform: lowercase;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #333637;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative; }
    .product-wrap__item-list li:before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      margin-top: -4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #333637; }

.technology-wrap {
  position: relative; }

.technology-item {
  position: absolute; }
  .technology-item__marker {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .technology-item__marker.active {
      background: rgba(255, 255, 255, 0.18);
      backdrop-filter: blur(19px); }
      .technology-item__marker.active:after {
        width: 40px;
        height: 40px; }
    .technology-item__marker:after {
      position: absolute;
      content: '+';
      font-weight: 900;
      font-size: 30px;
      line-height: 28px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #fff;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      transition: all ease 0.3s;
      transform: translate(-50%, -50%);
      background: #0376C3;
      border-radius: inherit;
      display: flex;
      align-items: center;
      justify-content: center; }
  .technology-item__info {
    display: none;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #0376C3;
    position: absolute;
    z-index: 2;
    width: 165px;
    background: #fff;
    padding: 5px;
    top: 80px;
    left: -190px;
    max-width: 150px; }
    .technology-item__info.active {
      display: block; }
    .technology-item__info:after {
      position: absolute;
      content: '';
      border: 2px dashed #0376C4;
      width: 100%;
      right: -70px;
      top: -23px;
      transform: rotate(-15deg);
      z-index: -5; }
  .technology-item:nth-of-type(1) {
    left: 32vw;
    bottom: 42vw; }
  .technology-item:nth-of-type(2) {
    left: 40vw;
    bottom: 33vw; }
  .technology-item:nth-of-type(3) {
    left: 31vw;
    bottom: 18vw; }
  .technology-item:nth-of-type(4) {
    left: 38vw;
    bottom: 16vw; }
  .technology-item:nth-of-type(5) {
    left: 47vw;
    bottom: 42vw; }
  .technology-item:nth-of-type(6) {
    left: 60vw;
    bottom: 42vw; }
  .technology-item:nth-of-type(7) {
    left: 65vw;
    bottom: 30vw; }
  .technology-item:nth-of-type(8) {
    left: 67vw;
    bottom: 18vw; }
  .technology-item:nth-of-type(9) {
    left: 76vw;
    bottom: 15vw; }

.testimonials-wrapper {
  padding: 100px 0;
  position: relative;
  overflow: hidden; }
  .testimonials-wrapper .title-section {
    width: 50%; }
  .testimonials-wrapper .pattern-left {
    width: 129px;
    height: 115px;
    left: 35px;
    bottom: -20px; }
  .testimonials-wrapper .element-circle-right {
    right: -20%;
    top: -40%; }

.testimonials-slider__arrow button {
  width: 64px;
  height: 64px;
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 50%; }
  .testimonials-slider__arrow button .icon {
    width: 27px;
    height: 21px;
    fill: #1F1F1F; }
  .testimonials-slider__arrow button:hover {
    background: #0376C4; }
    .testimonials-slider__arrow button:hover .icon {
      fill: #fff; }

.testimonials-slider__arrow .testimonials-slider__arrow-prev {
  transform: rotate(180deg); }

.testimonials-wrap {
  display: flex;
  align-items: flex-start; }

.testimonials-slider {
  width: 50%; }

.testimonials-text {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: rgba(31, 31, 31, 0.9);
  font-family: 'Pier Sans Black'; }

.testimonials-author-media {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px 0; }
  .testimonials-author-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.testimonials-author-title {
  font-family: 'Avenir';
  font-size: 22px;
  line-height: 30px;
  color: #333637; }

.testimonials-author-info {
  font-size: 18px;
  line-height: 25px;
  color: rgba(133, 133, 133, 0.74); }

.technologies-wrapper {
  padding: 100px 0; }
  .technologies-wrapper .title-section {
    margin-bottom: 50px; }
  .technologies-wrapper .brands-slider .slider img {
    margin: 0 auto; }

.contact-wrapper {
  padding: 0 0 100px;
  position: relative; }
  .contact-wrapper .container {
    display: flex;
    align-items: flex-start; }
  .contact-wrapper .title-section {
    width: 50%; }
  .contact-wrapper .main-form {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 0;
    background: #EDF5FB; }

@media screen and (max-width: 1399px) {
  .main-wrapper .main-form {
    right: 105px; }
  .main-wrapper .main-slider__description {
    left: 125px; }
  .main-wrapper .main-slider__pagination {
    left: 125px; }
  .main-wrapper .main-count__wrap {
    left: 125px; }
  .element-circle {
    width: 992px;
    height: 992px; }
  .footer-top__nav {
    width: 100%;
    margin: 0 20px; } }

@media screen and (max-width: 1199px) {
  .main-wrapper .main-form {
    margin-top: -170px;
    right: 15px; }
  .main-wrapper .main-slider__description {
    left: 15px;
    margin-bottom: 10px; }
  .main-wrapper .main-slider__pagination {
    left: 15px; }
  .element-circle {
    width: 768px;
    height: 768px; }
  .header {
    padding: 10px 0; }
    .header-top__logo {
      width: 150px; }
    .header-top__nav {
      margin: 0 10px; }
      .header-top__nav li {
        margin: 0 10px; }
  .main-wrapper .container {
    align-items: flex-end; }
  .main-slider__description {
    margin-bottom: 40px; }
  .main-slider__description-title {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 20px; }
  .main-form {
    max-width: 350px;
    text-align: center;
    padding: 25px;
    margin-bottom: 40px; }
  .main-form__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px; }
  .label {
    margin-bottom: 15px;
    padding-bottom: 10px; }
  .features-wrapper .pattern-left {
    left: 5px;
    top: 15px; }
  .features-wrap__marker:nth-of-type(1) {
    top: 100px;
    left: 180px; }
  .features-wrap__marker:nth-of-type(2) {
    top: 200px;
    left: 220px; }
  .features-wrap__marker:nth-of-type(3) {
    top: 370px;
    left: 320px; }
  .applications-wrapper:after {
    width: 100%; }
  .product-wrap__item:nth-of-type(2) .product-wrap__item-media:before {
    display: none; }
  .product-wrap__item:nth-of-type(2) .product-wrap__item-info {
    padding-top: 150px;
    padding-left: 10px; }
  .contact-wrapper .container {
    flex-wrap: wrap; }
  .contact-wrapper .title-section {
    width: 100%;
    margin-bottom: 30px; }
  .footer_nav {
    margin: 0 20px; }
    .footer_nav li {
      margin: 0 20px; } }

@media screen and (max-width: 991px) {
  .title-section__title, .title-section__text {
    width: 100%;
    text-align: center; }
  .title-section__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 54px; }
    .title-section__title h2 {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 15px; }
  .title-section__subtitle {
    width: 100%;
    text-align: center; }
  .title-section__text {
    text-align: center; }
    .title-section__text p {
      margin-bottom: 10px; }
  .title-section.title-image {
    width: 100%;
    margin-bottom: 30px; }
  .title-section__image {
    width: 100%;
    padding-left: 0;
    display: none; }
    .title-section__image img {
      max-width: 300px;
      display: block;
      margin: 0 auto; }
  .header-top__nav {
    display: none; }
  .header-top__social {
    display: none; }
  .btn-nav {
    display: block; }
  .main-wrapper .main-form {
    display: none; }
  .main-wrapper .main-slider__description {
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%; }
  .main-wrapper .main-slider__media img {
    min-height: 530px;
    object-fit: cover; }
  .main-wrapper .main-count__wrap {
    width: 100%;
    left: 0;
    bottom: 15px;
    padding: 0 15px;
    justify-content: center; }
  .main-wrapper .main-count__item {
    width: 33.333%;
    left: 0;
    bottom: 15px; }
  .features-wrapper {
    padding: 50px 0; }
  .features-wrap {
    flex-wrap: wrap; }
  .features-wrap__marker:nth-of-type(1) {
    top: 80px;
    left: 160px; }
  .features-wrap__marker:nth-of-type(2) {
    top: 150px;
    left: 180px; }
  .features-wrap__marker:nth-of-type(3) {
    top: 320px;
    left: 270px; }
  .features-wrap__media {
    width: 400px;
    max-width: 100%;
    margin: 0 auto 30px; }
    .features-wrap__media img {
      max-width: 400px;
      margin: 0 auto;
      display: block; }
  .features-wrap__description {
    max-width: 100%;
    min-height: 350px;
    width: 100%; }
  .applications-wrapper {
    padding: 50px 0; }
  .applications-wrap__item {
    width: 50%;
    margin-bottom: 30px; }
  .references-wrapper {
    padding: 50px 0; }
  .references-wrap__item {
    width: 100%;
    margin-bottom: 20px; }
  .product-wrapper {
    padding: 50px 0; }
    .product-wrapper .product-wrap__item {
      flex-direction: column; }
      .product-wrapper .product-wrap__item .product-wrap__item-media {
        width: 100%; }
        .product-wrapper .product-wrap__item .product-wrap__item-media img {
          margin: 0 auto;
          max-width: 440px;
          display: block; }
        .product-wrapper .product-wrap__item .product-wrap__item-media:before {
          display: none; }
        .product-wrapper .product-wrap__item .product-wrap__item-media:after {
          display: none; }
      .product-wrapper .product-wrap__item .product-wrap__item-info {
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        text-align: center; }
      .product-wrapper .product-wrap__item .product-wrap__item-btn .btn {
        margin: 0 auto; }
      .product-wrapper .product-wrap__item .product-wrap__item-title:after {
        display: none; }
      .product-wrapper .product-wrap__item .product-wrap__item-list li:before {
        display: none; }
  .technology-wrap__media, .technology-wrap {
    display: none; }
  .testimonials-wrap {
    flex-wrap: wrap; }
  .testimonials-wrapper {
    padding: 100px 0 0; }
    .testimonials-wrapper .title-section {
      width: 100%; }
    .testimonials-wrapper .testimonials-slider {
      width: 100%; }
  .testimonials-text {
    font-size: 18px;
    line-height: 24px; }
  .element-circle {
    width: 576px;
    height: 576px; }
  .element-circle-right {
    width: 576px;
    height: 576px; }
  .footer-top .container {
    flex-direction: column; }
  .footer-top__nav {
    width: 100%;
    margin: 20px 0; }
    .footer-top__nav ul {
      flex-wrap: wrap; }
    .footer-top__nav li {
      margin: 0 auto; }
  .footer-bottom {
    text-align: center; } }

@media screen and (max-width: 767px) {
  .title-section__title {
    font-size: 36px;
    line-height: 48px; }
  .element-circle {
    width: 480px;
    height: 480px; }
  .main-wrapper .main-slider__description-title {
    font-size: 44px;
    line-height: 44px; }
  .main-wrapper .main-slider__description-text {
    font-size: 16px;
    line-height: 20px; }
  .element-circle-right {
    width: 480px;
    height: 480px; } }

@media screen and (max-width: 575px) {
  .pattern-left,
  .pattern-right,
  .element-circle-right,
  .element-circle {
    display: none !important; }
  .title-section__title {
    font-size: 32px;
    line-height: 36px; }
  .title-section__subtitle {
    font-size: 18px;
    line-height: 24px; }
  .features-wrap__media {
    width: 260px; }
    .features-wrap__media img {
      width: inherit; }
  .features-wrap__marker:nth-of-type(1) {
    top: 60px;
    left: 30px; }
  .features-wrap__marker:nth-of-type(2) {
    top: 70px;
    left: 110px; }
  .features-wrap__marker:nth-of-type(3) {
    top: 200px;
    left: 200px; }
  .applications-wrap__item {
    width: 100%; }
  .product-wrapper .product-wrap__item .product-wrap__item-media img {
    max-width: 100%; }
  .main-wrapper .main-slider__description-title {
    font-size: 36px;
    line-height: 36px; }
  .footer-top__nav ul {
    flex-direction: column; }
    .footer-top__nav ul li {
      margin: 0 auto 10px !important; }
  .popup-centered {
    width: 100%; } }
