<footer class="footer wrapper" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__logo">
                <a href="#Home">
                    <img src="../static/images/logo.svg" alt="EquiTron">
                </a>
            </div>
            <div class="footer-top__nav">
                <ul>
                    <li>
                        <a href="#Home">Home</a>
                    </li>
                    <li>
                        <a href="#Features">Features</a>
                    </li>
                    <li>
                        <a href="#Applications">Applications</a>
                    </li>
                    <li>
                        <a href="#References">References</a>
                    </li>
                    <li>
                        <a href="#Technology">Technology</a>
                    </li>
                    <li>
                        <a href="#Products">Products</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__social">
                <ul>
                    <li>
                        <a href="https://twitter.com/">
                            <svg class="icon">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/">
                            <svg class="icon">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/">
                            <svg class="icon">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            © Copyright 2020 Karma. All rights reserved.
        </div>
    </div>
</footer>
<div class="top-btn">
    <svg class="icon">
        <use xlink:href="#ic-chevrone"></use>
    </svg>
</div>
<!--modal-->
<div class="popup" data-popup="cart-popup">
    <div class="popup-centered">
        <button class="popup-close"></button>
        <div class="popup-title">Bestellen</div>
        <form action="#">
            <label class="label">
                <input type="text" name="name" class="input" placeholder="Name" required>
            </label>
            <label class="label">
                <input type="email" name="email" class="input" placeholder="Email" required>
            </label>
            <button type="submit" class="btn btn-blue">
                hier bestellen
            </button>
        </form>
    </div>
    <div class="popup-overlay"></div>
</div>
<?xml version="1.0" encoding="utf-8"?><svg style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol viewBox="0 0 27 22" id="arrow" xmlns="http://www.w3.org/2000/svg"><path d="M16.313 21.931a.563.563 0 01-.399-.96l9.728-9.728-9.728-9.726A.563.563 0 0116.71.72l10.125 10.125c.22.22.22.576 0 .796L16.71 21.767a.562.562 0 01-.398.164z"/><path d="M26.438 11.807H.563a.562.562 0 110-1.125h25.874a.563.563 0 010 1.125z"/></symbol><symbol viewBox="0 0 10 8" id="ic-caret-down" xmlns="http://www.w3.org/2000/svg"><path d="M4.838 8L.648.744h8.379L4.837 8z"/></symbol><symbol viewBox="0 0 23 13" id="ic-chevrone" xmlns="http://www.w3.org/2000/svg"><path d="M22.377 11.168a.563.563 0 01-.955.412l-9.858-9.595-9.594 9.86a.562.562 0 01-.806-.785L11.15.798a.563.563 0 01.796-.01l10.262 9.985a.563.563 0 01.17.395z"/></symbol><symbol viewBox="0 0 23 23" id="ic-eye" xmlns="http://www.w3.org/2000/svg"><path d="M22.854 11.053c-.206-.281-5.101-6.883-11.354-6.883C5.247 4.17.35 10.772.146 11.052a.759.759 0 000 .895c.205.281 5.101 6.883 11.354 6.883 6.253 0 11.148-6.602 11.354-6.882a.758.758 0 000-.895zM11.5 17.313c-4.606 0-8.595-4.381-9.776-5.813 1.18-1.434 5.16-5.813 9.776-5.813 4.605 0 8.594 4.38 9.776 5.814-1.18 1.433-5.16 5.812-9.776 5.812z"/><path d="M11.5 6.95a4.555 4.555 0 00-4.55 4.55 4.556 4.556 0 004.55 4.55 4.555 4.555 0 004.55-4.55 4.555 4.555 0 00-4.55-4.55zm0 7.583A3.036 3.036 0 018.467 11.5 3.036 3.036 0 0111.5 8.467a3.036 3.036 0 013.033 3.033 3.036 3.036 0 01-3.033 3.033z"/></symbol><symbol viewBox="0 0 15 14" id="linkedin" xmlns="http://www.w3.org/2000/svg"><path d="M3.226 4.409H.176v9.16h3.05v-9.16zM1.72 0C1.207 0 .792.15.475.448A1.488 1.488 0 000 1.581c0 .45.154.825.462 1.127.308.302.715.453 1.22.453h.019c.517 0 .935-.15 1.252-.453.317-.302.473-.678.467-1.127-.006-.457-.164-.834-.472-1.133C2.64.15 2.231 0 1.72 0zm11.516 5.245c-.641-.699-1.489-1.049-2.542-1.049-.388 0-.741.048-1.059.144-.317.095-.585.23-.804.402a3.943 3.943 0 00-.522.48c-.123.14-.243.304-.36.49V4.408H4.908l.009.443c.006.296.01 1.208.01 2.736 0 1.528-.007 3.522-.02 5.98H7.95v-5.11c0-.314.033-.564.101-.749.13-.314.325-.577.587-.79.262-.213.587-.319.976-.319.53 0 .92.183 1.169.55.25.367.374.874.374 1.52v4.9h3.04v-5.25c0-1.35-.32-2.374-.96-3.074z"/></symbol><symbol viewBox="0 0 15 13" id="twitter" xmlns="http://www.w3.org/2000/svg"><path d="M15 1.544c-.59.27-1.18.44-1.77.508A3.157 3.157 0 0014.58.244c-.609.386-1.26.65-1.95.792C12.02.346 11.271 0 10.383 0c-.85 0-1.575.32-2.175.96-.6.64-.9 1.413-.9 2.32 0 .244.026.495.077.752a8.15 8.15 0 01-3.536-1.01A8.852 8.852 0 011.047.598a3.38 3.38 0 00-.419 1.656c0 .562.124 1.083.371 1.564.248.48.581.87 1 1.168a2.906 2.906 0 01-1.39-.417v.04c0 .793.233 1.489.7 2.088.466.6 1.055.977 1.765 1.132a2.996 2.996 0 01-.809.112c-.178 0-.371-.017-.58-.05a3.213 3.213 0 001.085 1.62 2.88 2.88 0 001.789.655C3.442 11.1 2.17 11.568.742 11.568c-.272 0-.52-.013-.742-.04A8.152 8.152 0 004.72 13a8.475 8.475 0 003.075-.553c.958-.37 1.777-.864 2.456-1.483a9.76 9.76 0 001.756-2.138 9.906 9.906 0 001.451-5.586A6.69 6.69 0 0015 1.544z"/></symbol><symbol viewBox="0 0 21 15" id="youtube" xmlns="http://www.w3.org/2000/svg"><path d="M20.108 1.391C19.538.378 18.92.191 17.66.121 16.404.035 13.241 0 10.503 0 7.758 0 4.595.035 3.339.12 2.083.191 1.463.376.889 1.39.302 2.403 0 4.146 0 7.215v.01c0 3.056.302 4.812.889 5.813.574 1.014 1.193 1.197 2.449 1.283 1.257.073 4.42.117 7.165.117 2.739 0 5.9-.044 7.16-.116 1.258-.085 1.876-.27 2.446-1.282.592-1.002.891-2.758.891-5.813v-.011c0-3.07-.3-4.813-.892-5.825zM7.875 11.156V3.281l6.563 3.938-6.563 3.937z"/></symbol></svg>
