<header class="header wrapper" id="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top__logo">
                <a href="#Home">
                    <img src="../static/images/logo.svg" alt="EquiTron">
                </a>
            </div>
            <div class="header-top__nav">
                <ul>
                    <li>
                        <a href="#Home">Home</a>
                    </li>
                    <li>
                        <a href="#Features">Features</a>
                    </li>
                    <li>
                        <a href="#Applications">Applications</a>
                    </li>
                    <li>
                        <a href="#References">References</a>
                    </li>
                    <li>
                        <a href="#Technology">Technology</a>
                    </li>
                    <li>
                        <a href="#Products">Products</a>
                    </li>
                </ul>
            </div>
            <div class="header-top__social">
                <ul>
                    <li>
                        <a href="https://twitter.com/">
                            <svg class="icon">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/">
                            <svg class="icon">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/">
                            <svg class="icon">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="btn-nav">
        <span></span>
    </button>
    <div class="header-mobile">
        <div class="header-mobile__nav">
            <ul>
                <li>
                    <a href="#Home">Home</a>
                </li>
                <li>
                    <a href="#Features">Features</a>
                </li>
                <li>
                    <a href="#Applications">Applications</a>
                </li>
                <li>
                    <a href="#References">References</a>
                </li>
                <li>
                    <a href="#Technology">Technology</a>
                </li>
                <li>
                    <a href="#Products">Products</a>
                </li>
                <li>
                    <a href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="header-mobile__social">
            <ul>
                <li>
                    <a href="https://twitter.com/">
                        <svg class="icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/">
                        <svg class="icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/">
                        <svg class="icon">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
