<meta charset="UTF-8">
<title>Title</title>
<!-- No Robots-->
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!-- build:css ../static/css/style.css -->
<link rel="stylesheet" href="./../../app/libs/bootstrap/dist/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="./../../app/libs/aos/dist/aos.css">
<link rel="stylesheet" href="./../../app/libs/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="../static/css/style.css">

<!-- endbuild -->
<!--<link rel="shortcut icon" href="../static/images/favicon.png"/>-->