<!-- build:js  ../static/js/lib.js -->
<script type="text/javascript" src="./../../app/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./../../app/libs/aos/dist/aos.js"></script>
<script type="text/javascript" src="./../../app/libs/slick-carousel/slick/slick.min.js"></script>
<!-- endbuild -->

<script  type="text/javascript" src="../static/js/common.js"></script>
