.footer{
  background: $primary-100;
  ul{
    display: flex;
    align-items: center;
  }
  &-top{
    padding: 50px 0;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-top__nav{
    li{
      margin: 0 30px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      text-transform: capitalize;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 20%;
        margin: 0 auto;
        background: transparent;
        transition: $transition;
      }
      &:hover{
        &:after{
          background: $white;
          width: 100%;
        }
      }
    }
  }
  &-top__social{
    margin-left: 20px;
    li{
      margin: 0 10px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      display: flex;
      align-items: center;
    }
    .icon{
      fill: #fff;
    }
  }
}
.footer-bottom{
  font-size: 12px;
  padding: 30px 0;
  color: $white;
}