.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 130;
  height: auto;
  padding: 0 0 20px;
  border-bottom: 1px solid rgba(255,255,255,.5);
  &-sticky{
    background: rgba(0,0,0,.5);
  }
  &-top__logo{
    a{
      &:after{
        display: none;
      }
    }
  }
  ul{
    display: flex;
    align-items: center;
  }
  a{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 20%;
      margin: 0 auto;
      background: transparent;
      transition: $transition;
    }
    &:hover{
      &:after{
        background: $white;
        width: 100%;
      }
    }
  }
  &-top{
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-top__nav{
    margin: 0 15px;
    li{
      margin: 0 30px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &-top__social{
    margin-left: 20px;
    li{
      margin: 0 10px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      display: flex;
      align-items: center;
      &:after{
        display: none;
      }
    }
    .icon{
      fill: #fff;
    }
  }
  &-mobile{
    display: none;
    padding: 15px;
    background: rgba(0,0,0,.8);
    width: 300px;
    position: absolute;
    top: 100%;
    &.open{
      display: block;
    }
  }
  &-mobile__nav{
    ul{
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
    li{
      margin: 0 0 10px 0;
    }
  }
  &-mobile__social{
    margin-left: 20px;
    flex-direction: row;
    li{
      margin: 0 10px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      display: flex;
      align-items: center;
      &:after{
        display: none;
      }
    }
    .icon{
      fill: #fff;
    }
  }
}
.btn-nav{
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 30px;
  outline: none;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  &:before, &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: $white;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all ease 300ms;
  }
  &:before{
    top: 0;
  }
  &:after{
    top: calc(100% - 2px);
  }
  span{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background: $white;
    transition: all ease 500ms;
    &:before, &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: $white;
      top: 50%;
      left: 0;
      right: 0;
      margin: -1px auto 0;
      transition: all ease 300ms;
    }
  }
  &.open{
    &:before, &:after{
      top: 50%;
      width: 0;
      opacity: 0;
    }
    span{
      background: transparent;
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
    }
  }
}