.main{
  &-wrapper{
    position: relative;
    height: auto;
    .main-form{
      position: absolute;
      right: 15vw;
      top: 50%;
      margin-top: -220px;
      background: rgba(255, 255, 255, 0.5);
    }
    .container{
      max-width: 1210px;
    }
  }
  &-slider{
    .slide{
      position: inherit;
      display: flex;
      align-items: center;
    }
  }
  &-slider__media{
    z-index: 1;
    position: relative;
  }
  &-slider__description{
    position: absolute;
    z-index: 2;
    left: 15vw;
    width: 55%;
    max-width: 650px;
  }
  &-slider__description-title{
    color: $white;
    font-weight: 900;
    font-size: 90px;
    line-height: 108px;
  }
  &-slider__description-text{
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &-form{
    backdrop-filter: blur(12px);
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    padding: 40px 50px;
  }
  &-form__title{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &-form__text{
    margin-top: 20px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    text-align: left;
    color: rgba($black-100, .63);
    a{
      font-size: inherit;
      color: inherit;
      &:hover{
        color: $primary;
        text-decoration: underline;
      }
    }
  }
  &-count__wrap{
    position: absolute;
    left: 15vw;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
  }
  &-count__item{
    color: $white;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }
  &-counter__item-description{
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  &-slider__pagination{
    position: absolute;
    top: 110px;
    left: 15vw;
    display: flex;
    color: $white;
  }
  &-slider__pagination-active{
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }
  &-slider__pagination-all{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    padding-left: 15px;
    &:before{
      position: absolute;
      content: '/';
      top: 0;
      left: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.features-wrapper{
  padding: 100px 0;
  position: relative;
  .pattern-left{
    width: 45px;
    left: 35px;
    top: 100px;
  }
  .pattern-right{
    width: 129px;
    right: 35px;
    bottom: 300px;
  }
}
.features-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__media{
    width: 50%;
    max-width: 545px;
    position: relative;
  }
  &__marker{
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border-radius: 100%;
    background: $white;
    border: 3px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    &:nth-of-type(1){
      top: 110px;
      left: 250px;
    }
    &:nth-of-type(2){
      top: 260px;
      left: 260px;
    }
    &:nth-of-type(3){
      top: 430px;
      left: 430px;
    }
    .icon{
      fill: $primary-100;
    }
    &:hover, &.active{
      background: $primary;
      .icon{
        fill: $white;
      }
    }
  }
  &__description{
    width: 50%;
    max-width: 397px;
    min-height: 400px;
    background: $white-100;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  &__item{
    display: none;
    &.active{
      display: block;
    }
  }
  &__item-media{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__item-title{
    width: 80%;
    margin: 0 auto 20px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba($primary, .9);
  }
  &__item-info{
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $black-0;
  }
}
.applications-wrapper{
  position: relative;
  padding: 100px 0;
  .title-section{
    margin-bottom: 50px;
  }
  &:after{
    position: absolute;
    content: '';
    width: calc(100% - 100px);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba($primary, 0.07);
    border-radius: 10px;
  }
}
.applications-wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  &__item{
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
  &__media{
    min-height: 76px;
    margin-bottom: 30px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &__title{
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $primary-100;
    margin-bottom: 25px;
    min-height: 40px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: $black-100;
  }
}
.references-wrapper{
  padding: 100px 0;
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .title-section__image{
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.references-wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  &__item{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: rgba($black, .9);
    width: 33.33333%;
    padding: 0 15px 0 25px;
    &:before{
      position: absolute;
      content: '';
      left: 0;
      top: 10px;
      width: 10px;
      height: 2px;
      background: $primary;
    }
  }
}
.product-wrapper{
  padding: 100px 0 70px;
  position: relative;
  .title-section{
    margin-bottom: 50px;
  }
  .element-circle{
    left: -40%;
  }
  .pattern-right{
    width: 129px;
    height: 115px;
    right: 35px;
    top: 100px;
  }
}
.product-wrap{
  &__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    &:nth-of-type(2n+1){
      flex-direction: row;
      .product-wrap__item-media{
        &:before{
          left: calc(60% - -14px);
          top: 57px;
          width: 40%;
        }
        &:after{
          left: 60%;
          top: 50px;
        }

      }
      .product-wrap__item-info{
        padding-top: 35px;
        padding-left: 15px;
      }
    }
    &:nth-of-type(2n){
      flex-direction: row-reverse;
      .product-wrap__item-media{
        &:before{
          left: -271px;
          top: 200px;
          z-index: 2;
        }
        &:after{
          left: 18%;
          top: 40%;
        }
      }
      .product-wrap__item-info{
        padding-top: 180px;
        padding-left: 15px;
      }
      .product-wrap__item-title{
        position: relative;
        display: inline-block;
        &:after{
          position: absolute;
          content: '';
          left: 101%;
          top: 20px;
          width: 100%;
          height: 1px;
          background: $black-100;
          z-index: -1;
        }
      }
    }
  }
  &__item-media{
    width: 50%;
    position: relative;
    &:before, &:after{
      position: absolute;
      content: '';
    }
    &:before{
      width: 67%;
      height: 1px;
      background: $black-100;
      z-index: -1;
    }
    &:after{
      border-radius: 50%;
      width: 14px;
      height: 14px;
      border: 1px solid $black-100;
    }
  }
  &__item-info{
    width: 50%;
    //background: $white;
    z-index: 2;
  }
  &__item-title{
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: lowercase;
    color: $primary-100;
    //background: $white;
    margin-bottom: 40px;
  }
  &__item-list{
    margin-bottom: 30px;
    li{
      text-transform: lowercase;
      font-weight: 900;
      font-size: 18px;
      line-height: 18px;
      color: $black-100;
      margin-bottom: 20px;
      padding-left: 20px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        margin-top: -4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $black-100;
      }
    }
  }
}
.technology-wrap{
  position: relative;
}
.technology-item{
  position: absolute;
  &__marker{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.active{
      background: rgba(255, 255, 255, 0.18);
      backdrop-filter: blur(19px);
      &:after{
        width: 40px;
        height: 40px;
      }
    }
    &:after{
      position: absolute;
      content: '+';
      font-weight: 900;
      font-size: 30px;
      line-height: 28px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: $white;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      transition: $transition;
      transform: translate(-50%, -50%);
      background: $primary-100;
      border-radius: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__info{
    display: none;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: $primary-100;
    position: absolute;
    z-index: 2;
    width: 165px;
    background: $white;
    padding: 5px;
    top: 80px;
    left: -190px;
    max-width: 150px;
    &.active{
      display: block;
    }
    &:after{
      position: absolute;
      content: '';
      border: 2px dashed $primary;
      width: 100%;
      right: -70px;
      top: -23px;
      transform: rotate(-15deg);
      z-index: -5;
    }
  }
  &:nth-of-type(1){
    left: 32vw;
    bottom: 42vw;
  }
  &:nth-of-type(2){
    left: 40vw;
    bottom: 33vw;
  }
  &:nth-of-type(3){
    left: 31vw;
    bottom: 18vw;
  }
  &:nth-of-type(4){
    left: 38vw;
    bottom: 16vw;
  }
  &:nth-of-type(5){
    left: 47vw;
    bottom: 42vw;
  }
  &:nth-of-type(6){
    left: 60vw;
    bottom: 42vw;
  }
  &:nth-of-type(7){
    left: 65vw;
    bottom: 30vw;
  }
  &:nth-of-type(8){
    left: 67vw;
    bottom: 18vw;
  }
  &:nth-of-type(9){
    left: 76vw;
    bottom: 15vw;
  }
}
.testimonials{
  &-wrapper{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    .title-section{
      width: 50%;
    }
    .pattern-left{
      width: 129px;
      height: 115px;
      left: 35px;
      bottom: -20px;
    }
    .element-circle-right{
      right: -20%;
      top: -40%;
    }
  }
  &-slider__arrow{
    button{
      width: 64px;
      height: 64px;
      background: transparent;
      border: 0;
      outline: none;
      border-radius: 50% ;
      .icon{
        width: 27px;
        height: 21px;
        fill: $black;
      }
      &:hover{
        background: $primary;
        .icon{
          fill: $white;
        }
      }
    }
    .testimonials-slider__arrow-prev{
      transform: rotate(180deg);
    }
  }
  &-wrap{
    display: flex;
    align-items: flex-start;
  }

  &-slider{
    width: 50%;
  }
  &-text{
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: rgba($black, .9);
    font-family: 'Pier Sans Black';
  }
  &-author-media{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-author-title{
    font-family: 'Avenir';
    font-size: 22px;
    line-height: 30px;
    color: $black-100;
  }
  &-author-info{
    font-size: 18px;
    line-height: 25px;
    color: rgba($gray, .74);
  }
}

.technologies-wrapper{
  padding: 100px 0;
  .title-section{
    margin-bottom: 50px;
  }
  .brands-slider{
    .slider{
      img{
        margin: 0 auto;
      }
    }
  }
}
.contact-wrapper{
  padding: 0 0 100px;
  position: relative;
  .container{
    display: flex;
    align-items: flex-start;
  }
  .title-section{
    width: 50%;
  }
  .main-form{
    margin: 0 auto;
    max-width: 400px;
    margin-top: 0;
    background: $secondary;
  }
}