@media screen and(max-width: 1399px){
  .main-wrapper{
    .main-form{
      right: 105px;
    }
    .main-slider__description{
      left: 125px;
    }
    .main-slider__pagination{
      left: 125px;
    }
    .main-count__wrap{
      left: 125px;
    }
  }
  .element-circle{
    width: 992px;
    height: 992px;
  }
  .footer{
    &-top__nav{
      width: 100%;
      margin: 0 20px;
    }
  }
}
@media screen and(max-width: 1199px){
  .main-wrapper{
    .main-form{
      margin-top: -170px;
      right: 15px;
    }
    .main-slider__description{
      left: 15px;
      margin-bottom: 10px;
    }
    .main-slider__pagination{
      left: 15px;
    }
  }
  .element-circle{
    width: 768px;
    height: 768px;
  }
  .header{
    padding: 10px 0;
    &-top__logo{
      width: 150px;
    }
    &-top__nav{
      margin: 0 10px;
      li{
        margin: 0 10px;
      }
    }
  }
  .main{
    &-wrapper{
      .container  {
        align-items: flex-end;
      }
    }
    &-slider__description{
      margin-bottom: 40px;
    }
    &-slider__description-title{
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 20px;
    }
    &-form{
      max-width: 350px;
      text-align: center;
      padding: 25px;
      margin-bottom: 40px;
    }
    &-form__title{
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }
  .label{
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  .features-wrapper{
    .pattern-left{
      left: 5px;
      top: 15px;
    }
  }
  .features-wrap{
    &__marker{
      &:nth-of-type(1){
        top: 100px;
        left: 180px;
      }
      &:nth-of-type(2){
        top: 200px;
        left: 220px;
      }
      &:nth-of-type(3){
        top: 370px;
        left: 320px;
      }
    }
  }
  .applications{
    &-wrapper{
      &:after{
        width: 100%;
      }
    }
  }
  .product-wrap{
    &__item{
      &:nth-of-type(2){
        .product-wrap__item-media{
          &:before{
            display: none;
          }
        }
        .product-wrap__item-info{
          padding-top: 150px;
          padding-left: 10px;
        }
      }
    }
  }
  .contact-wrapper{
    .container{
      flex-wrap: wrap;
    }
    .title-section{
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .footer{
    &_nav{
      margin: 0 20px;
      li{
        margin: 0 20px;
      }
    }
  }
}
@media screen and(max-width: 991px){
  .title-section{
    &__title, &__text{
      width: 100%;
      text-align: center;
    }
    &__title{
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 54px;
      h2{
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 15px;
      }
    }
    &__subtitle{
      width: 100%;
      text-align: center;
    }
    &__text{
      text-align: center;
      p{
        margin-bottom: 10px;
      }
    }
  }
  .title-section.title-image{
    width: 100%;
    margin-bottom: 30px;
  }
  .title-section__image{
    width: 100%;
    padding-left: 0;
    display: none;
    img{
      max-width: 300px;
      display: block;
      margin: 0 auto;
    }
  }
  .header{
    &-top__nav{
      display: none;
    }
    &-top__social{
      display: none;
    }
  }
  .btn-nav{
   display: block;
  }
  .main-wrapper{
    .main-form{
      display: none;
    }
    .main-slider__description{
      left: 0;
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
    }
    .main-slider__media{
      img{
        min-height: 530px;
        object-fit: cover;
      }
    }
    .main-count__wrap{
      width: 100%;
      left: 0;
      bottom: 15px;
      padding: 0 15px;
      justify-content: center;
    }
    .main-count__item{
      width: 33.333%;
      left: 0;
      bottom: 15px;
    }
  }
  .features{
    &-wrapper{
      padding: 50px 0;
    }
    &-wrap{
      flex-wrap: wrap;
    }
    &-wrap__marker{
      &:nth-of-type(1){
        top: 80px;
        left: 160px;
      }
      &:nth-of-type(2){
        top: 150px;
        left: 180px;
      }
      &:nth-of-type(3){
        top: 320px;
        left: 270px;
      }
    }
    &-wrap__media{
      width: 400px;
      max-width: 100%;
      margin:0 auto 30px;
      img{
        max-width: 400px;
        margin: 0 auto;
        display: block;
      }
    }
    &-wrap__description{
      max-width: 100%;
      min-height: 350px;
      width: 100%;
    }
  }
  .applications{
    &-wrapper{
      padding: 50px 0;
    }
  }
  .applications-wrap{
    &__item{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  .references-wrapper{
    padding: 50px 0;
  }
  .references-wrap{
    &__item{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .product-wrapper{
    padding: 50px 0;
    .product-wrap{
      &__item{
        flex-direction: column;
        .product-wrap__item-media{
          width: 100%;
          img{
            margin: 0 auto;
            max-width: 440px;
            display: block;
          }
          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
        .product-wrap__item-info{
          width: 100%;
          padding-left: 0;
          padding-top: 0;
          text-align: center;
        }
        .product-wrap__item-btn{
          .btn{
            margin:  0 auto;
          }
        }
        .product-wrap__item-title{
          &:after{
            display: none;
          }
        }
        .product-wrap__item-list{
          li{
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
  .technology-wrap__media, .technology-wrap{
    display: none;
  }
  .testimonials-wrap{
    flex-wrap: wrap;
  }
  .testimonials-wrapper{
    padding: 100px 0 0;
    .title-section{
      width: 100%;
    }
    .testimonials-slider{
      width: 100%;
    }
  }
  .testimonials-text{
    font-size: 18px;
    line-height: 24px;
  }
  .element-circle{
    width: 576px;
    height: 576px;
  }
  .element-circle-right{
    width: 576px;
    height: 576px;
  }
  .footer{
    &-top{
      .container{
        flex-direction: column;
      }
    }
    &-top__nav{
      width: 100%;
      margin: 20px 0;
      ul{
        flex-wrap: wrap;
      }
      li{
        margin: 0 auto;
      }
    }
    &-bottom{
      text-align: center;
    }
  }
}
@media screen and(max-width: 767px){
  .title-section{
    &__title{
      font-size: 36px;
      line-height: 48px;
    }
  }
  .element-circle{
    width: 480px;
    height: 480px;
  }
  .main-wrapper{
    .main-slider__description-title{
      font-size: 44px;
      line-height: 44px;
    }
    .main-slider__description-text{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .element-circle-right{
    width: 480px;
    height: 480px;
  }
}
@media screen and(max-width: 575px){
  .pattern-left,
  .pattern-right,
  .element-circle-right,
  .element-circle{
    display: none !important;
  }
  .title-section{
    &__title{
      font-size: 32px;
      line-height: 36px;
    }
    &__subtitle{
      font-size: 18px;
      line-height: 24px;
    }
  }
  .features{
    &-wrap__media{
      width: 260px;
      img{
        width: inherit;
      }
    }
    &-wrap__marker{
      &:nth-of-type(1){
        top: 60px;
        left: 30px;
      }
      &:nth-of-type(2){
        top: 70px;
        left: 110px;
      }
      &:nth-of-type(3){
        top: 200px;
        left: 200px;
      }
    }
  }
  .applications-wrap{
    &__item{
      width: 100%;
    }
  }
  .product-wrapper{
    .product-wrap{
      &__item{
        .product-wrap__item-media{
          img{
            max-width: 100%;
          }
        }
      }
    }
  }
  .main-wrapper{
    .main-slider__description-title{
      font-size: 36px;
      line-height: 36px;
    }
  }
  .footer{
    &-top__nav{
      ul{
        flex-direction: column;
        li{
          margin: 0 auto 10px !important;
        }
      }
    }
  }
  .popup-centered{
    width: 100%;
  }
}
@media screen and(max-width: 489px){}
@media screen and(max-width: 400px){}
@media screen and(max-width: 320px){}