//end scrollbar color
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
ul{
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
a{
  display: inline-block;
  text-decoration: none;
  transition: $transition;
}
img, .slick-slide {
  outline: none !important;
  &:focus, &:active{
    outline: none !important;
  }
}
a{
  display: inline-block;
  i{
    cursor: pointer;
  }
}
button{
  cursor: pointer;
  outline: none;
  &:focus, &:active{
    outline: none !important;
  }
}
.btn{
  display: block;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 32px;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.btn-blue{
  color: $white;
  background: $primary;
  border-color: $primary;
  &:hover, &.active, &:active{
    color: $primary;
    background: transparent;
  }
}
.wrapper{
  //padding: 100px 0 100px;
}

.label{
  display: block;
  margin-bottom: 20px;
  border-bottom: 1px solid $black;
  padding-bottom: 20px;
}
.input, .select, .textarea{
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  background: transparent;
  outline: none;
  border: 0;
  width: 100%;
  color: $black;
}
.title-section{
  display: flex;
  flex-wrap: wrap;
  &.center{
    text-align: center;
    .title-section__title{
      width: 100%;
    }
  }
  &.left{
    text-align: left;
    .title-section__title{
      width: 100%;
    }
  }
  &.title-image{
    width: 50%;
    .title-section__title{
      width: 100%;
      margin-bottom: 25px;
    }
    .title-section__subtitle{
      width: 100%;
      margin-bottom: 25px;
    }
    .title-section__text{
      width: 100%;
    }
  }
  &__title{
    width: 50%;
    font-weight: 900;
    h2{
      font-size: 70px;
      line-height: 84px;
      color: $primary;
      font-family: 'Pier Sans Black';
      margin-bottom: 20px;
      display: inline-block;
    }
  }
  &__subtitle{
     font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $primary;
    display: block;
    font-family: 'Pier Sans Black';
  }
  &__text{
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: rgba($black, .9);
    p{
      margin-bottom: 20px;
    }
  }
}
.title-section__image{
  width: 50%;
  padding-left: 100px;
}
.pattern-left, .pattern-right{
  position: absolute;
  background: url('../images/pattern.png') repeat;
  height: 115px;
}
.pattern-left{}
.pattern-right{}
.element-circle-right, .element-circle{
  position: absolute;
  top: 100px;
  border-radius: 50%;
  background: $secondary;
}
.element-circle{
  left: 0;
  width: 1324px;
  height: 1324px;
}
.element-circle-right{
  width: 789px;
  height: 789px;
}
.top-btn{
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $primary;
  border: 1px solid $white;
  &.visible{
    display: block;
  }
  .icon{
    fill: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.popup{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all ease 300ms;
  text-align: center;
  &.active{
    top: 0;
    opacity: 1;
    z-index: 999;
    visibility: visible;
    .popup-overlay{
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }
  &-centered{
    position: relative;
    width: 400px;
    background: $white;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    z-index: 999;
    height: auto;
    overflow: auto;
    &.overflow-auto{
      overflow: auto;
      height: 100vh;
      margin: 10px auto;
      border-radius: 0;
    }
  }
  &-subtitle{
    font-size: 16px;
    line-height: 23px;
    color: $black-100;
    margin-bottom: 25px;
    font-family: 'Pier Sans Black';
  }
  &-title{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Pier Sans Black';
    line-height: 28px;
    color: $primary;
    margin-bottom: 25px;
  }
  &-close{
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: 0;
    outline: none;
    top: 5px;
    right: 15px;
    width: 16px;
    height: 16px;
    &:before, &:after{
      position: absolute;
      content: '';
      width: 100%;
      top: 50%;
      left: 0;
      height: 2px;
      background: $black-100;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
    &:hover{
      &:before, &:after{
        background: $primary;
      }
    }
  }
  .btn-blue{
    margin: 0 auto;
  }
}

.popup-overlay{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .6);
  opacity: 0;
  visibility: hidden;
}
