$white : #fff;
$white-100 : #EDF5FB;
$black-0 : #000000;
$black : #1F1F1F;
$black-100 : #333637;
$gray : #858585;

$primary : #0376C4;
$primary-100 : #0376C3;
$secondary: #EDF5FB;

$transition: all ease .3s;